* {
  box-sizing: border-box;
}

.header {
  padding: 30px 25px 15px;
}
.links {
  display: inline;
  margin-left: 10%;
}

.links a {
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #942aae;
  padding: 5px;
  font-size: 30px;
}

.links a:hover {
  color: #181dbb;
  border-top: 2px solid #098bdc;
  border-bottom: 2px solid #098bdc;
  font-size: 40px;
}
.link-a-1 {
  background-color: #2be605;
  border: rgb(81, 255, 0) solid 2px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.link-a-2 {
  background-color: transparent;
  border: blue solid 2px;
  color: rgb(183, 20, 166);
  font-weight: bold;
}
.span-1,
.span-2 {
  font-weight: bold;
  font-size: 500%;
  width: 10%;
}

.span-1 {
  color: #4000f8;
}
.span-2 {
  color: #942aae;
}

.secao-1 {
  width: 100px;

  margin-left: 50px;
  margin-top: 50px;
}
.secao-2 {
  width: 100px;

  margin-top: 50px;
}
.secao-1 h1 {
  font-weight: bold;
  font-size: 60px;
  color: rgb(24, 1, 1);
}

.secao-1 h2 {
  color: rgb(27, 27, 27);
}
.secao-1 h4 {
  color: #00000e;
  font-size: 40px;
}

.img {
  width: 300px;
  margin: 0 auto;
}

.img img {
  width: 100%;
  border-radius: 75px;
}

p {
  color: #342f2f;
  font-size: 25px;
  text-size-adjust: 50px;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bg-light header {
  background-color: #2be605;
  color: #2be605;
  text-size-adjust: green;
}

.h1 {
  width: 100%;
  background-color: #181dbb;
  height: 300%;
}

.btn-primary {
  background-color: #cacaca;
}
.h1 {
  width: 1500%;
  background-color: #2be605;
  color: #181dbb;
}

.container {
  min-height: 100vh;
}
